{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}

{% block title %}
  frōntensō-11ty-starter – Glitch Effect
{% endblock %}

{% block content %}
  <canvas data-canvas></canvas>
{% endblock %}
